--Tạo DB:
CREATE DATABASE QLBANHANG
ON (NAME='BANHANG_DATA',FILENAME='C:\SQL\BANHANG.MDF')
LOG ON (NAME='BANHANG_LOG',FILENAME='C:\SQL\BANHANG.LDF')


GO
--
USE QLBANHANG
GO
--
--Tạo Table:
CREATE TABLE KHACHHANG
(
	MAKH CHAR(5) PRIMARY KEY,
	TENKH NVARCHAR(50) NOT NULL,
	DIACHI NVARCHAR(100),
	DT VARCHAR(11) NULL,
	EMAIL VARCHAR(50)
) 
GO
--Chèn giá trị cho các cột:
INSERT KHACHHANG VALUES('KH01',N'NGUYỄN THỊ BÉ',N'TÂN BÌNH','38457895','BNT@YAHOO.COM')
INSERT KHACHHANG VALUES('KH02',N'LÊ HÒANG NAM',N'BÌNH CHÁNH','34568711','NAMLEHOANG@ABC.VN')
INSERT KHACHHANG
VALUES('KH01',N'NGUYỄN THỊ BÉ',N'TÂN BÌNH','38457895','BNT@YAHOO.COM')

--Tạo Table:
CREATE TABLE HOADON
(
	MAHD CHAR(5) PRIMARY KEY,
	NGAY DATETIME CHECK(NGAY<=GETDATE()), --Thiết lập Ràng buộc
	MAKH CHAR(5), 
    	CONSTRAINT CK_NGAY CHECK(NGAY<=GETDATE()) --Thiết lập Ràng buộc
)
DROP TABLE CHITIETHOADON

CREATE TABLE CHITIETHOADON
	MAHD CHAR(5),
	MAVT CHAR(5),
	SL INT,
	GIABAN NUMERIC(10,0),
	PRIMARY KEY (MAHD, MAVT), --Thiết lập Khóa chính
	--Định nghĩa Khóa ngoại
	FOREIGN KEY (MAHD) REFERENCES HOADON(MAHD) ON UPDATE CASCADE,
	--Định nghĩa Khóa ngoại
	FOREIGN KEY (MAVT) REFERENCES VATTU(MAVT) ON UPDATE CASCADE 
)
	
--Nếu lúc tạo Table chưa thiết lập Ràng buộc thì có thể định nghĩa bổ sung:
ALTER TABLE HOADON
ADD CONSTRAINT CK_NGAY CHECK(NGAY<=GETDATE())

SELECT * FROM KHACHHANG

--Detach DB:
SP_DETACH_DB QLBANHANG

--Attach DB:
CREATE DATABASE QLBANHANG
ON(FILENAME='C:\SQL\BANHANG.MDF')
FOR ATTACH